body {
    margin: 0;
    padding: 0;
    color: #777777;
}

#container {
    margin:0;
    padding:0;
}

header {
    margin: 0 auto;
    padding:0;
    width: 70%;
}
 #mainLogo {
    color: #ffffff;
    background-color: #4aaaa5;
    margin: 0;
    height: 60px;
    width: 300px;
    padding-top: 25px;
    float: left;
    text-align: center;
} 

  nav {
    float: right;
    margin: 0;
    padding-top: 17px;
}

ul {
    list-style: none;
}

li {
    display: inline;
}

#leftBorder {
    border-left: solid black 2px;
    padding-left: 20px;
}

li:nth-child(1) {
    padding-right: 20px;
}

li:nth-child(2) {
    padding-right: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

#line {
    background-color: #cccccc;
    height: 2px;
}

#aboutMe {
    /* background-color: #ffffff; */
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    width: 67.6%;
    background-color: red;
}

img {
    float: left;
}

footer {
    background-color: blue;
}